<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>[[${pageTitle}]]</h1>
<form th:object="${newPerson}" method="post" th:action="@{/persons/save}">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3">
        <label for="exampleInputFirstName1" class="form-label">First name</label>
        <input type="text" class="form-control" id="exampleInputFirstName1"
               th:field="*{firstName}">
    </div>
    <div class="mb-3">
        <label for="exampleInputLastName1" class="form-label">Last name</label>
        <input type="text" class="form-control" id="exampleInputLastName1"
               th:field="*{lastName}">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               th:field="*{email}">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
               th:field="*{password}">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"
               th:field="*{enabled}">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>